python-telegram-bot==20.0
requests==2.28.1  # Если используешь HTTP-запросы
apscheduler==3.9.1  # Если планируешь запускать задачи по расписанию
python-dotenv==0.19.2  # Если будешь использовать .env для токенов и конфигураций
